

.view-slide-in.ng-enter {
  transition: all 350ms ease-out;
  -webkit-transition:all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
   
  position:relative;
  opacity:0;
  top:200;
  right:-1000px;
}

.view-slide-in.ng-enter.ng-enter-active {
  top:73px;
  right:0;
  opacity: 1;
}

.view-slide-in.ng-leave.ng-leave-active {
  top:900px;
  right:0px;
  opacity:1;
}

.view-slide-in.ng-leave {
  top:73px;
  right:0;
  opacity:0;
}
