


.view-animation.ng-enter {
  -webkit-transition:0.8s ease-out all;
  transition:0.8s ease-out all;
  position:relative;
}

.view-animation.ng-leave {
  -webkit-transition:0.45s ease-in all;
  transition:0.45s ease-in all;
  position:absolute;
}

.view-animation.ng-enter {
  left: 1000px;
  opacity:1;
}
.view-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity:1;
  display: box;
}

.view-animation.ng-leave {
  top:0;
  opacity:1;
  width: 100%;
  left: 0;

}
.view-animation.ng-leave.ng-leave-active {
  top:600px;
  opacity:0;
  width: 110%;
  left: -73px;
}