<div ng-controller="SidenavCtrl">


    <div layout="column" layout-fil >
        <md-toolbar ng-class="data.color">
            <div class="md-toolbar-tools">
                <span show-gt-md>Optinomic</span>
                

                <!-- fill up the space between left and right area -->
                <span flex></span>
                <span hide-sm hide-md show-gt-md>
                    <small>{{ date | date:'dd.MM.yyyy' }}</small>
                </span>

                <md-button ng-click="toggleLeft()" hide-gt-md aria-label="Close Sidenavigation - Left">
                    <i class="small mdi-navigation-close"></i>
                </md-button>

            </div>
        </md-toolbar>

        <md-tabs md-selected="data.selectedIndex" md-stretch-tabs="never" ng-class="data.color">
            <md-tab id="tab1" aria-controls="tab1-content">
                Patient
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                Group
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
                Doc
            </md-tab>
        </md-tabs>




        <md-content ng-controller="LeftCtrl">
            <ng-switch on="data.selectedIndex" class="tabpanel-container md-primary">
                <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">
                    <div ng-include="'components/sidenav-patient/sidenav-patient.html'"></div>
                </div>
                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">
                    <div ng-include="'components/sidenav-patient/sidenav-patient.html'"></div>
                </div>
                <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div ng-include="'components/sidenav-patient/sidenav-patient.html'"></div>
                </div>
            </ng-switch>
        </md-content>


    </div>

</div>