<div ng-controller="SidenavPatient">

    <md-content ng-style="styleNavbar()" resize style="background-color: #EEEEEE;">
        <section>

            <div layout="row" layout-margin layout-fill layout-padding style="margin-top: -15px;">
                <div flex="5" style="color: #BDBDBD; margin-top: 38px;">
                    <i class="small mdi-action-search"></i>
                </div>
                <div flex>
                    <md-text-float label="Filter / Search" ng-model="data.user_search"></md-text-float>
                </div>
            </div>
        </section>

        <section style="margin-top: -30px;">
            <md-subheader class="md-accent" style="background-color: #EEEEEE;">
                Favoriten
            </md-subheader>
            <md-list layout="column">
                <md-item class="fx-fade-down fx-elastic fx-speed-350" ng-repeat="item in data.patients | filter:data.user_search">
                    <a href="#/patient/{{item.cisPid}}">
                        <md-item-content class="optinomic-list-element">
                            <div class="md-tile-left">
                                <optinomic-avatar patient-info="item"></optinomic-avatar>

                                <md-tooltip>
                                    <div class="optinomic-list-element-tooltip">



                                        <p><i class="mdi-action-home"></i> {{item.lineTooltip}}</p>


                                    </div>
                                </md-tooltip>

                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.line1}}</h3>
                                <h4 class="title-sub">{{item.line2}}</h4>

                            </div>
                        </md-item-content>
                    </a>
                    <md-divider></md-divider>
                </md-item>
            </md-list>
        </section>

        <section>
            <md-subheader class="md-warn" style="background-color: #F5F5F5;">
                All Patients
            </md-subheader>
            <md-list layout="column">
                <md-item class="fx-fade-down fx-elastic fx-speed-350" ng-repeat="item in data.patients | filter:data.user_search">
                    <md-item-content>
                        <div class="md-tile-left">
                            <optinomic-avatar patient-info="item"></optinomic-avatar>
                            <md-tooltip>
                                {{item.zipCode}} {{item.city}}
                            </md-tooltip>
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.line1}}</h3>
                            <h4 class="title-sub">{{item.line2}}</h4>

                        </div>
                    </md-item-content>
                    <md-divider></md-divider>
                </md-item>
            </md-list>
        </section>

    </md-content>
</div>