<optinomic-page>

    <div layout="row" layout-padding>
        <div flex="50">
            <p class="flow-text">
                Name Vorname
                <br>Strasse
                <br>PLZ Ort
                <br>
            </p>

        </div>
        <div flex="50">
            <p class="flow-text">
                Falldetails
                <br>Eintritt
                <br>Austritt
                <br>
            </p>

        </div>
    </div>

    <h2 style="font-weight: 200;">Arzbericht: Ottiger Beat</h2>
    <h6>: : Haldenstrasse 7, 8942 Oberrieden | Versicherung: Sanitas 345</h6>

    <div layout="row">

        <div flex>



            <div class="row">

                <md-button back>
                    Back
                </md-button>

                <p class="flow-text">I am Flow Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique nostrum dignissimos quam sunt nihil, illo ab quo voluptatibus molestias cumque hic asperiores culpa dolorum, ipsam dolor, et minima natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>



                <div class="input-field col s12">
                    <textarea class="materialize-textarea flow-text" required ng-model="data.userSearch"></textarea>
                    <label>Notes</label>
                </div>
            </div>

            <md-button ng-click="openBottomSheet()">
                Open a Bottom Sheet!
            </md-button>
        </div>

    </div>


    <div layout="row">
        <div flex="50">
            <p class="flow-text">I am Flow Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique nostrum dignissimos quam sunt nihil, illo ab quo voluptatibus molestias cumque hic asperiores culpa dolorum, ipsam dolor, et minima natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md aria-label="Open Sidenav Left">
                <i class="mdi-action-account-circle prefix"></i> Menu
            </md-button>
        </div>
        <div flex="50">

            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://www.britishairways.com/assets/images/destinations/components/mainCarousel/maldives/MV-MLE-BEACH-AXIOM-00150235-760x350.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i>
                    </span>
                    <p><a href="#/">This is a link</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i>
                    </span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>

    </div>


</optinomic-page>