<div layout="row" layout-padding>
    <div flex="50">

        <p class="flow-text">
            Name Vorname
            <br>Strasse
            <br>PLZ Ort
            <br>
        </p>

    </div>
    <div flex="50">
        <p class="flow-text">
            Falldetails
            <br>Eintritt
            <br>Austritt
            <br>
        </p>

    </div>
</div>

<h4>Arzbericht: Ottiger Beat</h4>
<h6>: : Haldenstrasse 7, 8942 Oberrieden | Versicherung: Sanitas 345</h6>

<div layout="row">

    <div flex>

        <p class="flow-text">I am Flow Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique nostrum dignissimos quam sunt nihil, illo ab quo voluptatibus molestias cumque hic asperiores culpa dolorum, ipsam dolor, et minima natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam, architecto? Adipisci a veniam pariatur soluta quos provident asperiores sapiente. Nisi ullam accusantium laboriosam aperiam reiciendis aliquam ratione, delectus voluptates.</p>
        <md-button ng-click="openBottomSheet()">
            Open a Bottom Sheet!
        </md-button>
    </div>

</div>


<div layout="row">
    <div flex="33">
        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md aria-label="Open Sidenav Left">
            <i class="mdi-action-account-circle prefix"></i> Menu
        </md-button>
    </div>
    <div flex="55">
        <p class="flow-text">I am Flow Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique nostrum dignissimos quam sunt nihil, illo ab quo voluptatibus molestias cumque hic asperiores culpa dolorum, ipsam dolor, et minima natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam, architecto? Adipisci a veniam pariatur soluta quos provident asperiores sapiente. Nisi ullam accusantium laboriosam aperiam reiciendis aliquam ratione, delectus voluptates.
        </p>
    </div>
    <div flex>
        [flex]
    </div>
</div>