<div layout="row" layout-padding>
    <div flex="50">
        <p>
            Name Vorname<br>
            Strasse<br>
            PLZ Ort<br>
        </p>
        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, hic voluptate maxime. Nesciunt quo dolores saepe quis inventore debitis at commodi soluta, consequatur illum. Eveniet aspernatur atque, dicta temporibus ut.</p>
    </div>
    <div  flex="50">
        <p>
            Falldetails<br>
            Eintritt<br>
            Austritt<br>
        </p>
        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, hic voluptate maxime. Nesciunt quo dolores saepe quis inventore debitis at commodi soluta, consequatur illum. Eveniet aspernatur atque, dicta temporibus ut.</p>
    </div>
</div>

<div layout="row">
    <div flex="33">

        
    </div>
    <div flex="55">

        <p class="flow-text">I am Flow Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique nostrum dignissimos quam sunt nihil, illo ab quo voluptatibus molestias cumque hic asperiores culpa dolorum, ipsam dolor, et minima natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam, architecto? Adipisci a veniam pariatur soluta quos provident asperiores sapiente. Nisi ullam accusantium laboriosam aperiam reiciendis aliquam ratione, delectus voluptates.</p>
        <md-button ng-click="openBottomSheet()">
            Open a Bottom Sheet!
        </md-button>
    </div>
    <div flex>
        [flex]
    </div>
</div>


<div layout="row">
    <div flex="33">
        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md aria-label="Open Sidenav Left">
            <i class="mdi-action-account-circle prefix"></i> Menu
        </md-button>
    </div>
    <div flex="55">
        <p class="flow-text">I am Flow Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique nostrum dignissimos quam sunt nihil, illo ab quo voluptatibus molestias cumque hic asperiores culpa dolorum, ipsam dolor, et minima natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam, architecto? Adipisci a veniam pariatur soluta quos provident asperiores sapiente. Nisi ullam accusantium laboriosam aperiam reiciendis aliquam ratione, delectus voluptates.
        </p>
    </div>
    <div flex>
        [flex]
    </div>
</div>